[submodule "third_party/JSON-java"]
	path = third_party/JSON-java
	url = https://github.com/stleary/JSON-java
[submodule "third_party/SharpGen"]
	path = third_party/SharpGen
	url = https://github.com/dcsync/SharpGen
